@import "bootstrap.css";
@import "base.css";
body {
  background: #F7F7F7;
}
.top {
  height: 40px;
  background: #F4F3F3;
  border-bottom: 2px solid #DFDFDF;
}
.top ul {
  width: 1190px;
  float: right;
  margin-right: 127px;
}
.top ul li {
  float: left;
  width: 119px;
  text-align: center;
  line-height: 38px;
  border-right: 1px solid #D0CFCF;
}
.top ul li:hover {
  background: #FF3893;
  cursor: pointer;
}
.top ul li:hover a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #FF3893;
}
.top ul li:hover a {
  color: white;
  text-decoration: none;
}
.top-banner {
  width: 1190px;
  height: 158px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.top-banner .left {
  float: left;
  display: flex;
}
.top-banner .left div {
  display: inline-block;
}
.top-banner .left div img {
  width: 198px;
  padding-right: 22px;
}
.top-banner .left div p {
  font-size: 14px;
  padding-top: 12px;
  font-weight: bold;
  color: #FF3893;
  text-align: center;
}
.top-banner .left .welcome {
  /*  height: 50px;
        line-height: 50px;*/
  margin-bottom: 25px;
  padding-left: 22px;
  font-size: 20px;
  border-left: 2px solid #D3D3D3;
  color: #525050;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  top: 9px;
  /* position: relative\9;
       top:-40px\9;*/
  /*  _position: relative;
        _top:0px;*/
}
.top-banner .left1 {
  float: left;
  position: relative;
  top: 10px;
  width: 120px;
}
.top-banner .left1 span {
  font-size: 18px;
  width: 120px;
  display: inline-block;
  text-align: center;
}
.top-banner .left1 b {
  display: inline-block;
  width: 120px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  border-radius: 30px;
  border: 1px solid #999999;
  margin-top: 5px;
}
.top-banner .left1 b:hover {
  background: #FF3893;
  color: white;
  border: 1px solid #FF3893;
}
.top-banner .left2 {
  float: left;
  width: 507px;
  text-align: center;
}
.top-banner .left2 a {
  display: inline-block;
  width: 153px ;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.top-banner .left2 .now {
  color: #FF3893;
}
hr {
  border: 2px solid #FF3893;
}
.help {
  min-height: 700px;
  padding-top: 40px;
}
.help .help_left {
  width: 192px;
  background: white;
  min-height: 600px;
  float: left;
  padding-top: 24px;
}
.help .help_left ul {
  min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.help .help_left ul li {
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.help .help_left ul li a {
  color: #888888;
}
.help .help_left ul .li_title {
  margin-bottom: 30px;
}
.help .help_left ul .li_title a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.help .help_right {
  width: 81%;
  height: 100%;
  float: right;
}
.help .help_right .right_top {
  height: 52px;
  background: white;
  line-height: 52px;
  font-size: 12px;
  color: #ADADAD;
  padding-left: 20px;
  padding-right: 20px;
}
.help .help_right .right_top a {
  font-size: 14px;
}
.help .help_right .main {
  height: 600px;
  background: white;
  margin-top: 20px;
  padding: 20px;
}
.help .help_right .main .basic_title a {
  display: inline-block;
  width: 60px;
  color: #FF3893;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-bottom: 4px solid #FF3893;
}
.help .help_right .main .basic_main {
  margin-top: 30px;
  height: 92%;
}
.help .help_right .main .basic_main .basic_left {
  width: 55%;
  float: left;
  height: 100%;
}
.help .help_right .main .basic_main .basic_left span {
  float: left;
  width: 70px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 10px;
}
.help .help_right .main .basic_main .basic_left .p-title {
  float: left;
  height: 94px;
  line-height: 94px;
}
.help .help_right .main .basic_main .basic_left .pic {
  width: 94px;
  height: 94px;
  float: left;
}
.help .help_right .main .basic_main .basic_left .user_name {
  margin-top: 25px;
}
.help .help_right .main .basic_main .basic_left .user_name input {
  border: none;
  outline: none;
  height: 40px;
  line-height: 40px;
}
.help .help_right .main .basic_main .basic_left .nicheng {
  margin-top: 25px;
}
.help .help_right .main .basic_main .basic_left .nicheng input {
  border: 1px solid #E7E7E7;
  height: 34px;
  width: 190px;
  text-align: center;
  outline: none;
}
.help .help_right .main .basic_main .basic_left .sex {
  margin-top: 25px;
}
.help .help_right .main .basic_main .basic_left .sex label {
  height: 40px;
  line-height: 40px;
}
.help .help_right .main .basic_main .basic_left .birth {
  margin-top: 25px;
}
.help .help_right .main .basic_main .basic_left .birth span {
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.help .help_right .main .basic_main .basic_left .birth select {
  width: 100px;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #D3D3D3;
  outline: none;
}
.help .help_right .main .basic_main .basic_left .birth select option {
  text-align: center;
}
.help .help_right .main .basic_main .basic_left .email {
  margin-top: 25px;
}
.help .help_right .main .basic_main .basic_left .email a {
  color: #4177FF;
  outline: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
.help .help_right .main .basic_main .basic_left .save {
  display: inline-block;
  background: #FF3893;
  color: white;
  text-align: center;
  height: 30px;
  width: 100px;
  line-height: 30px;
  margin-left: 70px;
  margin-top: 25px;
}
.help .help_right .main .basic_main .basic_left .all_form {
  /*  margin-top: 30px;
           height: 94%;*/
}
.help .help_right .main .basic_main .basic_right {
  width: 45%;
  float: right;
  height: 100%;
}
.help .help_right .main .basic_main .basic_right .right1 {
  width: 379px;
  height: 176px;
  position: relative;
  background: #F7F7F7;
  border: 1px solid #DCDCDC;
  padding-top: 20px;
}
.help .help_right .main .basic_main .basic_right .right1 .touxiang_xiao {
  width: 30%;
  height: 95px;
  line-height: 95px;
  float: left;
  padding-left: 20px;
}
.help .help_right .main .basic_main .basic_right .right1 .touxiang_xiao img {
  width: 70px;
  height: 70px;
}
.help .help_right .main .basic_main .basic_right .right1 .info_right {
  float: left;
  padding-left: 20px;
}
.help .help_right .main .basic_main .basic_right .right1 .info_right p {
  height: 30px;
  line-height: 30px;
}
.help .help_right .main .basic_main .basic_right .right1 .info_right p b {
  font-weight: normal;
}
.help .help_right .main .basic_main .basic_right .right1 .right1_bottom {
  position: absolute;
  bottom: 0px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #e7e7e7;
}
.help .help_right .main .basic_main .basic_right .right1 .right1_bottom a {
  color: #5482FE;
}
.help .help_right .main .basic_main .basic_right .right2 {
  height: 122px;
  width: 379px;
  border: 1px dashed #DCDCDC;
  margin-top: 20px;
  padding: 20px;
}
.help .help_right .main .basic_main .basic_right .right2 .right2-p1 b {
  display: inline-block;
  width: 108px;
  text-align: center;
}
.help .help_right .main .basic_main .basic_right .right2 .right2-p1 a {
  color: #286AFF;
  font-size: 12px;
  float: right;
}
.help .help_right .main .basic_main .basic_right .right2 .right2-p2 {
  float: left;
  margin-top: 30px;
}
.help .help_right .main .basic_main .basic_right .right2 .right2-p2 b {
  width: 100px;
  text-align: center;
  font-weight: normal;
  display: inline-block;
}
.help .help_right .main .basic_main .basic_right .right2 .right2-p2 span {
  display: inline-block;
  width: 100px;
  text-align: center;
}
.help .help_right .main .basic_main .basic_right .right2 .right2-p3 {
  float: right;
  width: 160px;
  position: relative;
  top: 27px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 40px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.help .help_right .main .basic_main .basic_right .right3 {
  height: 122px;
  width: 379px;
  border: 1px dashed #DCDCDC;
  margin-top: 20px;
  padding: 20px;
}
.help .help_right .main .basic_main .basic_right .right3 .right2-p1 b {
  display: inline-block;
  width: 108px;
  text-align: center;
}
.help .help_right .main .basic_main .basic_right .right3 .right2-p1 a {
  width: 100px;
  height: 20px;
  background: #EDEDED;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  float: right;
}
.help .help_right .main .basic_main .basic_right .right3 .right2-p2 {
  float: left;
  margin-top: 30px;
}
.help .help_right .main .basic_main .basic_right .right3 .right2-p2 b {
  width: 100px;
  text-align: center;
  font-weight: normal;
  display: inline-block;
}
.help .help_right .main .basic_main .basic_right .right3 .right2-p2 span {
  display: inline-block;
  width: 100px;
  text-align: center;
}
.help .help_right .main .basic_main .basic_right .right3 .right2-p3 {
  float: right;
  width: 160px;
  position: relative;
  top: 27px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 40px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.help .help_right .main .basic_main .new_addr {
  width: 340px;
  height: 310px;
  position: absolute;
  background: white;
  border: 1px solid #AEAEAE;
  z-index: 10000;
}
.help .help_right .main .basic_main .new_addr .addr_title {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #AEAEAE;
}
.help .help_right .main .basic_main .new_addr .addr_title span {
  float: left;
}
.help .help_right .main .basic_main .new_addr .addr_title a {
  float: right;
  display: inline-block;
  width: 50px;
  text-align: center;
  background: #FF3893;
  color: white;
  opacity: 1;
  line-height: 30px;
  height: 30px;
  margin-top: 10px;
  font-size: 14px;
}
.help .help_right .main .basic_main .new_addr .form_next1 {
  width: 100%;
}
.help .help_right .main .basic_main .new_addr .form_next1 div {
  margin-top: 20px;
  height: 40px;
}
.help .help_right .main .basic_main .new_addr .form_next1 div label {
  width: 105px;
  height: 40px;
  padding-left: 20px;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 40px;
}
.help .help_right .main .basic_main .new_addr .form_next1 div input {
  width: 200px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  outline: none;
}
.help .help_right .main .basic_main .new_addr .form_next1 .already_phone input {
  border: none;
}
.help .help_right .main .basic_main .new_addr .form_next1 .phone_msg {
  position: relative;
}
.help .help_right .main .basic_main .new_addr .form_next1 .phone_msg .btn-get {
  width: 75px;
  background: #FF3893;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 30px;
  padding-left: 0;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 12px;
}
.help .help_right .main .basic_main .new_addr .form_next1 .address_btn span {
  width: 120px;
  cursor: pointer;
  height: 40px;
  display: inline-block;
  background: #FF3893;
  color: white;
  text-align: center;
  line-height: 40px;
  margin-left: 105px;
}
.help .help_right .main .basic_main .new_addr .form_next1 .pro {
  width: 70px;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
}
.help .help_right .main .basic_main .new_addr .form_next1 .city {
  width: 73px;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
}
.help .help_right .main .basic_main .new_addr .form_next1 .qu {
  width: 150px;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
}
.help .help_right .main .basic_main .new_addr .form_next2 {
  width: 100%;
  display: none;
}
.help .help_right .main .basic_main .new_addr .form_next2 div {
  margin-top: 34px;
  height: 40px;
}
.help .help_right .main .basic_main .new_addr .form_next2 div label {
  width: 105px;
  height: 40px;
  padding-left: 20px;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 40px;
}
.help .help_right .main .basic_main .new_addr .form_next2 div input {
  width: 200px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  outline: none;
}
.help .help_right .main .basic_main .new_addr .form_next2 .address_btn span {
  width: 122px;
  height: 40px;
  display: inline-block;
  background: #FF3893;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-left: 105px;
}
.help .help_right .main .basic_main .new_addr .form_next3 {
  width: 100%;
  display: none;
}
.help .help_right .main .basic_main .new_addr .form_next3 p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}
.help .help_right .main .basic_main .new_addr .form_next3 p b {
  font-size: 14px;
}
.help .help_right .main .basic_main .new_addr .form_next3 .address_btn span {
  width: 122px;
  height: 40px;
  display: inline-block;
  background: #FF3893;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-left: 105px;
}
.footer {
  width: 100%;
  height: 406px;
  background: #F4F3F3;
  border-top: 1px solid #DDDDDD;
}
.footer .div1 {
  width: 1190px ;
  height: 184px;
  padding-top: 20px;
}
.footer .div1 ul {
  float: left;
  width: 144px ;
  margin: 0 auto;
}
.footer .div1 ul li {
  line-height: 30px;
}
.footer .div1 ul .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 27px;
}
.footer .div1 dl {
  width: 314px;
  margin-top: 10px;
  float: left;
  text-align: center;
}
.footer .div1 dl dd {
  margin-top: 5px;
}
.footer .footer1 {
  width: 100%;
  border-top: 1px solid #ECEBEB;
  padding-bottom: 33px;
  padding-top: 33px;
}
.footer .footer1 span {
  margin-left: 50px;
  font-size: 16px;
}
.footer .footer1 img {
  margin-left: 99px;
}
