@import "bootstrap.css";
@import "base.css";
@color:#FB3A98;
//ͷ��

.logo1{
  height: 367px;
  padding-top: 30px;
  padding-bottom: 10px;
 .left{
   float: left;
   height: 343px;
   width: 600px;
   .l1{
     width: 600px;
     height: 226px;
   }
   .l2{
     width: 600px;
     height: 117px;
   }
 }
  .right{
    float: left;
    height: 343px;
    width: 570px;
    .l3{
      height: 117px;
      width: 100%;
    }
    .l4{
      height: 113px;
      width:110px ;
    }
    .l5{
      width:350px ;
      height: 113px;
    }
    .l6{
      height: 113px;
      width:110px ;
    }
    .l7{
      height: 113px;
      width:100% ;
    }
  }
}
.title-p{
  border-bottom: 1px solid #F6F6F6;
  height: 40px;
  padding-bottom: 10px;
  margin-top: 55px;
  b{
    display: inline-block;
    padding-left: 10px;
    border-left: 4px solid @color;
    width: 90px;
    color:@color;
    font-size: 18px;
  }
 span{
   float: right;

   a{
     color:@color;
     font-size: 14px;
   }
 }
}
.logo2{
  height: 234px;
  width: 1170px;
  box-shadow: 0px 6px 19px #E6E6E6;
    div{
      float: left;
      width: 20%;

      .span1{
        border-right: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
        width: 100%;
        height: 117px;
        display: inline-block;
        text-align: center;
        line-height: 117px;
      }
      .span2{
        border-right: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
        width: 100%;
        height: 78px;
        line-height: 78px;
        text-align: center;
        display: inline-block;
      }
      .img11{
        width: 100%;
        height: 234px;
        border-right: 1px solid #E6E6E6;
      }
      .da{
        width: 104px;
        height: 59px;
      }
      .xiao{
        width: 104px;
        height: 59px;
      }
    }
    .more{
      display: inline-block;
      width: 56px;
      height: 30px;
      background: #D9D9D9;
      font-size: 14px;
      text-align: center;
      line-height: 30px;
      position: relative;
      top:0px;
      left:560px;
      cursor: pointer;
    }
}
.logo3{
  height: 234px;
  width: 1170px;
  box-shadow: 0px 6px 19px #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;

  div{
    float: left;
    span{
      border-top: 1px solid #E6E6E6;
      border-left: 1px solid #E6E6E6;
    }
  }
  .div1{
    float: left;
    width: 468px;
    .span1{

      width: 100%;
      height: 117px;
      display: inline-block;
      text-align: center;
      line-height: 117px;
    }
    .span11{
      width: 233px;
      height: 117px;
      display: inline-block;
      line-height: 117px;
      text-align: center;
      img{
        width: 104px;
        height: 59px;
      }
    }
    .span2{
      border-right: 1px solid #E6E6E6;
      border-bottom: 1px solid #E6E6E6;
      width: 100%;
      height: 78px;
      line-height: 78px;
      text-align: center;
      display: inline-block;
    }
    .img11{
      width: 100%;
      height: 234px;
      border-right: 1px solid #E6E6E6;
    }
    .da{
      width: 50%;
      height: 45px;
    }
    .xiao{
      width: 42%;
      height: 35px;
    }
  }
  .div2{
    width: 228px;
    height: 234px;
    span{
      display: inline-block;
      width: 228px;
      height: 117px;
      text-align: center;
      line-height: 117px;
      img{
        width: 104px;
        height: 59px;
      }
    }
  }
  .more{
    display: inline-block;
    width: 56px;
    height: 30px;
    background: #D9D9D9;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    position: relative;
    top:0px;
    left:560px;
    cursor: pointer;
  }
}
.logo4{
  height: 234px;
  width: 1170px;
  box-shadow: 0px 6px 19px #E6E6E6;
  div{
    float: left;
    width: 20%;

    .span1{
      border-right: 1px solid #E6E6E6;
      border-bottom: 1px solid #E6E6E6;
      width: 100%;
      height: 117px;
      display: inline-block;
      text-align: center;
      line-height: 117px;
    }
    .span2{
      border-right: 1px solid #E6E6E6;
      border-bottom: 1px solid #E6E6E6;
      width: 100%;
      height: 78px;
      line-height: 78px;
      text-align: center;
      display: inline-block;
    }
    .span4{
      display: inline-block;
      width: 234px;
      height: 234px;
      text-align: center;
      line-height: 234px;
      border-right: 1px solid #e6e6e6;
      img{
        width: 104px;
        height: 59px;
      }
    }
    .img11{
      width: 100%;
      height: 234px;
      border-right: 1px solid #E6E6E6;
    }
    .da{
      width: 104px;
      height: 59px;
    }
    .xiao{
      width: 104px;
      height: 59px;
    }
  }


  .more{
    display: inline-block;
    width: 56px;
    height: 30px;
    background: #D9D9D9;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    position: relative;
    top:0px;
    left:560px;
    cursor: pointer;
  }
}
//��������


