@import "bootstrap.css";
@import "base.css";
body {
  background: #F7F7F7;
}
.top {
  height: 40px;
  background: #F4F3F3;
  border-bottom: 2px solid #DFDFDF;
}
.top ul {
  width: 1190px;
  float: right;
  margin-right: 127px;
}
.top ul li {
  float: left;
  width: 119px;
  text-align: center;
  line-height: 38px;
  border-right: 1px solid #D0CFCF;
}
.top ul li:hover {
  background: #FF3893;
  cursor: pointer;
}
.top ul li:hover a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #FF3893;
}
.top ul li:hover a {
  color: white;
  text-decoration: none;
}
.top-banner {
  width: 1190px;
  height: 158px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.top-banner .left {
  float: left;
  display: flex;
}
.top-banner .left div {
  display: inline-block;
}
.top-banner .left div img {
  width: 198px;
  padding-right: 22px;
}
.top-banner .left div p {
  font-size: 14px;
  padding-top: 12px;
  font-weight: bold;
  color: #FF3893;
  text-align: center;
}
.top-banner .left .welcome {
  /*  height: 50px;
        line-height: 50px;*/
  margin-bottom: 25px;
  padding-left: 22px;
  font-size: 20px;
  border-left: 2px solid #D3D3D3;
  color: #525050;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  top: 9px;
  /* position: relative\9;
       top:-40px\9;*/
  /*  _position: relative;
        _top:0px;*/
}
.top-banner .left1 {
  float: left;
  position: relative;
  top: 10px;
  width: 120px;
}
.top-banner .left1 span {
  font-size: 18px;
  width: 120px;
  display: inline-block;
  text-align: center;
}
.top-banner .left1 b {
  display: inline-block;
  width: 120px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  border-radius: 30px;
  border: 1px solid #999999;
  margin-top: 5px;
}
.top-banner .left1 b:hover {
  background: #FF3893;
  color: white;
  border: 1px solid #FF3893;
}
.top-banner .left2 {
  float: left;
  width: 507px;
  text-align: center;
}
.top-banner .left2 a {
  display: inline-block;
  width: 153px ;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.top-banner .left2 .now {
  color: #FF3893;
}
hr {
  border: 4px solid #FF3893;
}
.help {
  min-height: 400px;
  padding-top: 40px;
}
.help .help_left {
  width: 192px;
  background: white;
  min-height: 600px;
  float: left;
  padding-top: 24px;
}
.help .help_left ul {
  min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.help .help_left ul li {
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.help .help_left ul li a {
  color: #888888;
}
.help .help_left ul .li_title {
  margin-bottom: 30px;
}
.help .help_left ul .li_title a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.help .help_right {
  width: 81%;
  height: 100%;
  float: right;
}
.help .help_right .right_top {
  height: 52px;
  background: white;
  line-height: 52px;
  font-size: 12px;
  color: #ADADAD;
  padding-left: 20px;
  padding-right: 20px;
}
.help .help_right .right_top a {
  font-size: 14px;
}
.help .help_right .right_main .tab {
  width: 100%;
  min-height: 310px;
}
.help .help_right .right_main .tab .tab-header {
  width: 100%;
  height: 93px;
  background: white;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 30px;
  border-bottom: 2px solid #F6F6F6;
}
.help .help_right .right_main .tab .tab-header ul {
  width: 50%;
  height: 60px;
  float: left;
}
.help .help_right .right_main .tab .tab-header ul li {
  float: left;
  width: 70px;
  text-align: center;
  height: 50px;
}
.help .help_right .right_main .tab .tab-header ul li a {
  font-size: 14px;
  color: #666666;
  display: inline-block;
  width: 90%;
  padding-bottom: 5px;
}
.help .help_right .right_main .tab .tab-header ul li .hover1 {
  border-bottom: 4px solid #FF3893;
  text-decoration: none;
  color: #FF3893;
}
.help .help_right .right_main .tab .tab-header div {
  float: right;
  padding-right: 40px;
}
.help .help_right .right_main .tab .tab-header div input {
  width: 182px;
  height: 31px;
  border: none;
  border: 1px solid #D1D1D1;
  outline: none;
  padding-left: 20px;
}
.help .help_right .right_main .tab .tab-header div input::-webkit-input-placeholder {
  color: #D7D7D7;
}
.help .help_right .right_main .tab .tab-header div a {
  display: inline-block;
  width: 48px;
  height: 31px;
  background: #FF3893;
  color: white;
  text-align: center;
  line-height: 31px;
}
.help .help_right .right_main .tab .tab-body {
  width: 100%;
  min-height: 400px;
}
.help .help_right .right_main .tab .tab-body .main {
  height: 100%;
  display: none;
  padding-top: 10px;
}
.help .help_right .right_main .tab .tab-body .main .dd {
  margin-bottom: 10px;
}
.help .help_right .right_main .tab .tab-body .main #sel1 {
  margin-left: 15px;
  width: 135px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #D5D5D5;
  outline: none;
  text-indent: 9px;
  font-size: 14px;
}
.help .help_right .right_main .tab .tab-body .main #sel1 option {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  font-size: 16px;
}
.help .help_right .right_main .tab .tab-body .main .order_info {
  margin-left: 120px;
}
.help .help_right .right_main .tab .tab-body .main .order_price {
  margin-left: 80px;
}
.help .help_right .right_main .tab .tab-body .main .order_time {
  margin-left: 70px;
}
.help .help_right .right_main .tab .tab-body .main #sel2 {
  margin-left: 70px;
  width: 103px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #D5D5D5;
  outline: none;
  text-indent: 9px;
  font-size: 14px;
}
.help .help_right .right_main .tab .tab-body .main #sel2 option {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  font-size: 16px;
}
.help .help_right .right_main .tab .tab-body .main .order_operate {
  margin-left: 70px;
}
.help .help_right .right_main .tab .tab-body .main span {
  font-size: 14px;
}
.help .help_right .right_main .tab .tab-body .main .order_main {
  width: 100%;
  background: white;
  min-height: 100%;
  padding: 46px 36px;
  padding-top: 0px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good .p1 {
  padding-top: 50px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good .p1 b {
  font-weight: normal;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul {
  width: 100%;
  height: 100px;
  margin-top: 30px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul li {
  float: left;
  height: 100px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .pic {
  width: 340px;
  position: relative;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .pic i {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #F4F3F3;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .pic img {
  width: 100px;
  height: 100px;
  float: left;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .pic span {
  font-size: 14px;
  float: left;
  display: inline-block;
  width: 220px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 48px;
  overflow: hidden;
  position: absolute;
  top: 19px;
  left: 102px;
  line-height: 25px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .pic b {
  position: absolute;
  right: 0px;
  font-weight: normal;
  color: #AAAAAA;
  top: 33px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .price {
  margin-left: 33px;
  line-height: 100px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .time {
  margin-left: 50px;
  padding-top: 28px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .time span {
  width: 90px;
  display: inline-block;
  text-align: center;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .status {
  width: 65px;
  text-align: center;
  margin-left: 82px;
  padding-top: 28px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .status a {
  color: #4177FF;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .buy {
  width: 65px;
  text-align: center;
  padding-top: 28px;
  margin-left: 72px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .buy p {
  width: 100%;
  text-align: center;
  height: 34px;
  line-height: 34px;
  background: #FF3893;
  color: white;
}
.help .help_right .right_main .tab .tab-body .main .order_main .one_good ul .buy p a {
  width: 100%;
  text-align: center;
  height: 34px;
  line-height: 34px;
  background: #FF3893;
  color: white;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page {
  text-align: center;
  margin-top: 84px;
  /* padding-top: 84px;*/
}
.help .help_right .right_main .tab .tab-body .main .order_main .page .all-pro {
  display: inline-block;
  color: #FF3893;
  font-size: 14px;
  font-weight: bold;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page nav {
  display: inline-block;
  height: 34px;
  position: relative;
  top: 12px;
  margin-left: 20px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page nav ul {
  margin: 0;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page nav ul .more-page a {
  border: none;
  margin-left: 0px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page nav ul a {
  margin-left: 10px;
  color: #000;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page nav ul a:hover {
  background: #FF3893;
  color: white;
  border: 1px solid  transparent;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page nav ul a:active {
  background: #FF3893;
  color: white;
  border: 1px solid  transparent;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page nav ul .more-page a:active {
  border: none;
  margin-left: 0px;
  background: transparent;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page .page-info {
  display: inline-block;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page .page-info .all-page {
  margin-left: 20px;
  font-size: 14px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page .page-info input {
  border: none;
  width: 40px;
  height: 30px;
  border: 1px solid #DDDDDD;
  font-size: 14px;
  outline: none;
  padding-left: 10px;
}
.help .help_right .right_main .tab .tab-body .main .order_main .page .page-info .skip {
  margin-left: 10px;
  border: 1px solid #ddd;
  display: inline-block;
  width: 43px;
  line-height: 34px;
  height: 34px;
  text-align: center;
  cursor: pointer;
}
.help .help_right .right_main .tab .tab-body .show {
  display: block;
}
.footer {
  width: 100%;
  height: 406px;
  background: #F4F3F3;
  border-top: 1px solid #DDDDDD;
}
.footer .div1 {
  width: 1190px ;
  height: 184px;
  padding-top: 20px;
}
.footer .div1 ul {
  float: left;
  width: 144px ;
  margin: 0 auto;
}
.footer .div1 ul li {
  line-height: 30px;
}
.footer .div1 ul .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 27px;
}
.footer .div1 dl {
  width: 314px;
  margin-top: 10px;
  float: left;
  text-align: center;
}
.footer .div1 dl dd {
  margin-top: 5px;
}
.footer .footer1 {
  width: 100%;
  border-top: 1px solid #ECEBEB;
  padding-bottom: 33px;
  padding-top: 33px;
}
.footer .footer1 span {
  margin-left: 50px;
  font-size: 16px;
}
.footer .footer1 img {
  margin-left: 99px;
}
