@import "bootstrap.css";
@import "base.css";
.top {
  height: 40px;
  background: #F4F3F3;
  border-bottom: 2px solid #DFDFDF;
}
.top ul {
  width: 1190px;
  float: right;
  margin-right: 127px;
}
.top ul li {
  float: left;
  width: 119px;
  text-align: center;
  line-height: 38px;
  border-right: 1px solid #D0CFCF;
}
.top ul li:hover {
  background: #FF3893;
  cursor: pointer;
}
.top ul li:hover a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #FF3893;
}
.top ul li:hover a {
  color: white;
  text-decoration: none;
}
.top-banner {
  width: 1190px;
  height: 158px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.top-banner .left {
  float: left;
  display: flex;
}
.top-banner .left div {
  display: inline-block;
}
.top-banner .left div img {
  width: 198px;
  padding-right: 22px;
}
.top-banner .left div p {
  font-size: 14px;
  padding-top: 12px;
  font-weight: bold;
  color: #FD64B7;
  text-align: center;
}
.top-banner .left .welcome {
  /*  height: 50px;
        line-height: 50px;*/
  margin-bottom: 25px;
  padding-left: 22px;
  font-size: 20px;
  border-left: 2px solid #D3D3D3;
  color: #525050;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  top: 9px;
  /* position: relative\9;
       top:-40px\9;*/
  /*  _position: relative;
        _top:0px;*/
}
.top-banner .left1 {
  float: left;
  position: relative;
  top: -19px;
}
.top-banner .left1 div {
  height: 36px;
  padding-top: 20px;
  display: inline-block;
}
.top-banner .left1 div .city-hover1 {
  cursor: pointer;
}
.top-banner .left1 div img {
  width: 198px;
  padding-right: 22px;
}
.top-banner .left1 div a > span,
.top-banner .left1 div a > i {
  font-size: 20px;
  color: #808080;
  cursor: pointer;
}
.top-banner .left1 div .city {
  position: absolute;
  width: 200px;
  height: 205px;
  background: white;
  border: 1px solid #D7D7D7;
  padding: 10px 0 10px 0;
  display: none;
  top: 64px;
  left: 0px;
  z-index: 100;
}
.top-banner .left1 div .city p {
  text-align: left;
  width: 100%;
  padding: 0 10px 20px 10px;
  height: 28px;
  border-bottom: 1px solid #D7D7D7;
}
.top-banner .left1 div .city p a {
  color: #FF3893;
}
.top-banner .left1 div .city span {
  width: 100%;
  display: block;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  border-left: 5px solid #FF3893;
  padding-left: 10px;
  margin-left: 10px;
}
.top-banner .left1 div .city ul {
  padding: 10px 20px;
  width: 100%;
  height: 96px;
  border-bottom: 1px solid #D7D7D7;
}
.top-banner .left1 div .city ul li {
  float: left;
  width: 33.3%;
  height: 25px;
}
.top-banner .left1 div .city a.more {
  text-align: center;
  width: 100%;
  display: block;
  height: 20px;
  line-height: 20px;
  padding-top: 10px;
}
.top-banner .left1 div .city-hover1:hover .city {
  display: block;
}
.top-banner .left1 div p {
  font-size: 14px;
  font-weight: bold;
  color: #808080;
  text-align: center;
}
.top-banner .left1:hover .city {
  display: block;
}
.top-banner .left2 {
  float: left;
  height: 117px;
}
.top-banner .left2 div {
  height: 36px;
  margin-top: 11px;
  display: inline-block;
  margin-left: 33px;
}
.top-banner .left2 div .search {
  width: 500px;
  height: 42px;
  border: 2px solid #FF3893;
}
.top-banner .left2 div .search input {
  font-size: 15px;
  padding-left: 18px;
  width: 406px;
  height: 33px ;
  border: none;
  outline: none;
}
.top-banner .left2 div .search a {
  display: inline-block;
  width: 90px;
  background: #FF3893;
  color: white;
  height: 38px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
.top-banner .left2 div ul {
  min-width: 333px;
  margin-left: 45px;
  background: red;
  margin-top: 10px;
}
.top-banner .left2 div ul li {
  float: left;
  min-width: 40px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  border-left: 1px solid #989898;
  border-right: 1px solid #989898;
  margin-left: -1px;
}
.top-banner .left2 div ul li a:hover {
  text-decoration: none;
  color: #000;
}
.top-banner .right {
  float: right;
  height: 47px;
  width: 217px;
  border: 2px solid #F4F3F3;
  border-radius: 5px;
  padding-left: 12px;
  position: relative;
  background: white;
  top: 23px;
  cursor: pointer;
}
.top-banner .right .cart:hover {
  position: absolute;
  z-index: 200;
  border-bottom: 2px solid white;
}
.top-banner .right .cart-box {
  width: 300px;
  height: 60px;
  border: 2px solid #F4F3F3;
  position: absolute;
  top: 40px;
  left: -84px;
  background: white;
  display: none;
  z-index: 1;
}
.top-banner .right .cart-box img {
  width: 20%;
}
.top-banner .right .cart-box b {
  padding-top: 10px;
  font-weight: normal;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}
.top-banner .right i {
  font-size: 25px;
  line-height: 43px;
  color: #FF3893;
}
.top-banner .right a {
  font-size: 16px;
  line-height: 43px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: -4px;
}
.top-banner .right span {
  display: inline-block;
  background: #FF3893;
  color: white;
  font-size: 16px;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  text-align: center;
  position: relative;
  line-height: 25px;
  top: -5px;
}
.top-banner .right:hover {
  border-bottom: 2px solid white;
}
.top-banner .right:hover .cart-box {
  display: block;
}
.banner1 {
  width: 100%;
  height: 50px ;
  background: #FF3893;
}
.banner1 ul {
  width: 1190px;
  height: 50px;
  margin: 0 auto;
}
.banner1 ul li {
  width: 125px;
  float: left;
  text-align: center;
}
.banner1 ul li:hover {
  background: #B169F3;
}
.banner1 ul a {
  color: white;
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  height: 50px;
  font-weight: bold;
}
.order {
  width: 100%;
  height: 40px;
  margin-top: 42px;
  background: #F4F3F3;
  padding: 0rem;
  padding-right: 25px;
}
.order ul li {
  float: left;
  cursor: pointer;
}
.order ul .zonghe {
  width: 70px;
  line-height: 40px;
  text-align: center;
}
.order ul .zonghe:link {
  background: #E4E4E4;
}
.order ul .zonghe:link a {
  color: #000;
}
.order ul .zonghe:visited {
  background: #FF3893;
}
.order ul .zonghe:visited a {
  color: white;
}
.order ul .zonghe:hover {
  background: #FF3893;
}
.order ul .zonghe:hover a {
  color: white;
}
.order ul .zonghe:active {
  background: #FF3893;
}
.order ul .zonghe:active a {
  color: white;
}
.order ul .price {
  width: 100px;
  text-align: center;
}
.order ul .price .price-span {
  height: 40px;
  line-height: 40px;
}
.order ul .price .price-minus {
  position: relative;
  right: -14px;
  top: -23px;
}
.order ul .price .price-add {
  position: relative;
  top: -5px;
}
.order ul .xiaoliang {
  width: 100px;
  text-align: center;
}
.order ul .xiaoliang .xiaoliang-span {
  height: 40px;
  line-height: 40px;
}
.order ul .xiaoliang .xiaoliang-minus {
  position: relative;
  right: 14px;
  top: 6px;
}
.order ul .xiaoliang .xiaoliang-add {
  position: relative;
  top: -5px;
}
.order ul .duration {
  width: 173px;
  height: 100%;
  line-height: 40px;
}
.order ul .duration .full {
  border: 1px solid #999999;
  width: 70px;
  height: 27px;
  display: inline-block;
  line-height: 25px;
  padding-left: 5px;
}
.order ul .duration .full input {
  border: none;
  width: 45px;
  background: #F4F3F3;
  height: 25px;
  outline: none;
  text-align: center;
}
.order ul .duration .zuida {
  border: 1px solid #999999;
  width: 70px;
  height: 27px;
  display: inline-block;
  line-height: 25px;
  padding-left: 5px;
}
.order ul .duration .zuida input {
  border: none;
  width: 45px;
  height: 25px;
  background: #F4F3F3;
  outline: none;
  text-align: center;
}
.order ul .all-pro {
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  float: right;
  margin-right: 20px;
}
.order ul .count-page {
  float: right;
  line-height: 40px;
  height: 40px;
  margin-right: 10px;
}
.order ul .count-page .now-page {
  color: #FF3893;
}
.order ul .page-chose {
  float: right;
  width: 86px;
  height: 24px;
  padding-top: 9px;
}
.order ul .page-chose .page-pre {
  display: inline-block;
  width: 25px;
  border: 1px solid #DCDCDC;
  text-align: center;
  background: #E6E6E6;
}
.order ul .page-chose input {
  outline: none;
  width: 26px;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-left: none;
  border-right: none;
}
.order ul .page-chose .page-next {
  display: inline-block;
  width: 25px;
  border: 1px solid #DCDCDC;
  text-align: center;
  background: #E6E6E6;
}
.logo {
  height: 318px;
  margin-top: 30px;
  border: 1px solid #D7D7D7;
}
.logo .brand {
  height: 145px;
  width: 1168px;
  display: inline-block;
}
.logo .brand span {
  font-size: 16px;
  position: relative;
  left: 0px;
  top: 0px;
  text-align: center;
  padding-top: 20px;
  float: left;
  background: #F4F3F3;
  display: inline-block;
  height: 145px;
  width: 66px;
  border-bottom: 1px dashed #E5E5E5;
}
.logo .brand ul {
  margin-left: 66px;
  padding: 0px 20px 20px 10px;
  width: 1102px;
  height: 145px;
  border-bottom: 1px dashed #E5E5E5;
}
.logo .brand ul li {
  float: left;
  width: 109px;
  height: 40px;
  border: 1px solid #D7D7D7;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
  margin-top: 20px;
}
.logo .brand ul li img {
  width: 80px;
  height: 30px;
}
.logo .specification {
  height: 64px;
  width: 1168px;
  display: inline-block;
  position: relative;
  top: -5px;
  border-bottom: 1px dashed #E5E5E5;
}
.logo .specification span {
  font-size: 16px;
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  text-align: center;
  padding-top: 21px;
  display: inline-block;
  width: 66px;
  height: 64px;
  background: #F4F3F3;
  border-bottom: 1px dashed #E5E5E5;
}
.logo .specification ul {
  margin-left: 66px;
  padding: 0px 20px 20px 10px;
  width: 1102px;
  height: 64px;
  border-bottom: 1px dashed #E5E5E5;
}
.logo .specification ul li {
  float: left;
  width: 90px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  margin-left: 10px;
}
.logo .city {
  height: 107px;
  width: 1168px;
  display: inline-block;
  position: relative;
  top: -10px;
}
.logo .city span {
  font-size: 16px;
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  text-align: center;
  padding-top: 41px;
  display: inline-block;
  width: 66px;
  height: 107px;
  background: #F4F3F3;
}
.logo .city ul {
  margin-left: 66px;
  padding: 0px 20px 20px 10px;
  width: 1102px;
  height: 107px;
}
.logo .city ul li {
  float: left;
  width: 90px;
  height: 107px;
  text-align: center;
  line-height: 107px;
  margin-left: 10px;
}
.main {
  height: 1674px;
  padding: 0;
}
.main .pro {
  width: 100%;
  height: 322px;
  margin-top: 37px;
  margin-left: -10px;
}
.main .pro dl {
  margin-left: 20px;
  display: inline-block;
  width: 210px;
  height: 285px;
}
.main .pro dl dt {
  border: 1px solid #D1D1D1;
  width: 210px;
  height: 200px;
  position: relative;
}
.main .pro dl dt img {
  width: 100%;
  height: 100%;
}
.main .pro dl dt span {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 27px;
  text-align: center;
  line-height: 27px;
  display: inline-block;
  position: absolute;
  z-index: 10;
  bottom: 0px;
  font-size: 12px;
}
.main .pro dl dd {
  width: 100%;
  height: 85px;
  margin-top: 22px;
}
.main .pro dl dd .p1 {
  width: 100%;
  height: 20px;
}
.main .pro dl dd .p1 .hot-price {
  float: left;
  background: #FF3893;
  color: white;
  font-size: 14px;
  min-width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.main .pro dl dd .p1 span {
  float: right;
}
.main .pro dl dd .p1 span img {
  width: 12px;
  margin-right: 7px;
}
.main .pro dl dd .p1 span span {
  color: #797979;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.main .pro dl dd .p1 span span b {
  color: #FF3893;
  font-weight: normal;
  font-size: 12px;
}
.main .pro dl dd .p2 {
  margin-top: 16px;
  font-size: 14px;
  height: 50px;
  line-height: 25px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-text-overflow: ellipsis;
  -webkit-white-space: nowrap;
  -moz-line-clamp: 2;
  -moz-text-overflow: ellipsis;
  -moz-white-space: nowrap;
  -ms-line-clamp: 2;
  -ms-text-overflow: ellipsis;
  -ms-white-space: nowrap;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
}
.main .page {
  text-align: center;
  margin-top: 84px;
  /* padding-top: 84px;*/
}
.main .page .all-pro {
  display: inline-block;
  color: #FF3893;
  font-size: 14px;
  font-weight: bold;
}
.main .page nav {
  display: inline-block;
  height: 34px;
  position: relative;
  top: 12px;
  margin-left: 20px;
}
.main .page nav ul {
  margin: 0;
}
.main .page nav ul .more-page a {
  border: none;
  margin-left: 0px;
}
.main .page nav ul a {
  margin-left: 10px;
  color: #000;
}
.main .page nav ul a:hover {
  background: #FF3893;
  color: white;
  border: 1px solid  transparent;
}
.main .page nav ul a:active {
  background: #FF3893;
  color: white;
  border: 1px solid  transparent;
}
.main .page nav ul .more-page a:active {
  border: none;
  margin-left: 0px;
  background: transparent;
}
.main .page .page-info {
  display: inline-block;
}
.main .page .page-info .all-page {
  margin-left: 20px;
  font-size: 14px;
}
.main .page .page-info input {
  border: none;
  width: 40px;
  height: 30px;
  border: 1px solid #DDDDDD;
  font-size: 14px;
  outline: none;
  text-align: center;
}
.main .page .page-info .skip {
  margin-left: 10px;
  border: 1px solid #ddd;
  display: inline-block;
  width: 43px;
  line-height: 34px;
  height: 34px;
  text-align: center;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 406px;
  background: #F4F3F3;
  border-top: 1px solid #DDDDDD;
}
.footer .ul1 {
  width: 1190px;
  height: 111px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid #ECEBEB;
}
.footer .ul1 li {
  float: left;
  width: 238px;
}
.footer .ul1 li img {
  float: left;
}
.footer .ul1 li div {
  padding-left: 17px;
  float: left;
  padding-top: 3px;
}
.footer .ul1 li div p {
  font-weight: bold;
  font-size: 14px;
}
.footer .div1 {
  width: 1190px ;
  height: 184px;
  padding-top: 20px;
}
.footer .div1 ul {
  float: left;
  width: 144px ;
  margin: 0 auto;
}
.footer .div1 ul li {
  line-height: 30px;
}
.footer .div1 ul .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 27px;
}
.footer .div1 dl {
  width: 314px;
  margin-top: 10px;
  float: left;
  text-align: center;
}
.footer .div1 dl dd {
  margin-top: 5px;
}
.footer .footer1 {
  width: 100%;
  border-top: 1px solid #ECEBEB;
  padding-bottom: 33px;
  padding-top: 33px;
}
.footer .footer1 span {
  margin-left: 50px;
  font-size: 16px;
}
.footer .footer1 img {
  margin-left: 99px;
}
